body {
  font-family: "Kanit", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.portfolio_header {
  display: flex;
  align-items: center; /*จัดใให้อยู่กลางแนวตั้ง div */
  justify-content: center; /*จัดตำแหน่งแนวนอนweb */
  font-size: 40px;
}

.profile_div {
  display: flex;
  align-items: center;
  justify-content: space-between; /*แยกซ้ายขวา*/
  padding-right: 100px;
  padding-left: 100px;
}

.profile_pic {
  height: 300px;
  width: auto;
}

.profile_data {
  max-width: 50%;
}
