/* element ทั้งหมด */
* {
  box-sizing: border-box;
}

body {
  font-family: "Prompt", sans-serif;
  background-color: rgb(22, 22, 22);
  color: aliceblue;
}

/* 1.navbar */
.navbar {
  display: flex;
  justify-content: space-between; /*แยกซ้ายขวา */
  align-items: center; /* กึ่งกลางบน-ล่าง */
  background-color: rgb(11, 11, 11);
  padding: 18px 100px;
  border-bottom: 2px solid;
  border-color: rgb(61, 61, 61);
}

.navbar .logo {
  font-size: 26px;
  font-weight: 750;
  color: aquamarine;
}

.navbar .menu a {
  /* เฉพาะ <a> ใน class menu */
  color: rgb(255, 255, 255);
  text-decoration: none; /* ทำให้สี link หาย */
  margin-left: 25px;
  font-size: 16px;
  font-weight: 450;
}

.navbar .menu a.active, /* active = อยู่pageนั้น, hover = เม้าชี้ */
.navbar .menu a:hover {
  color: rgb(240, 221, 15);
}

/* 2.home section*/
.index_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 150px;
  min-height: 450px;
}

.index_txt h1 {
  font-size: 30px;
  color: aliceblue;
}

.index_txt h2 {
  font-size: 20px;
  color: aquamarine;
}

.index_img_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 25px;
}

.index_img_pic {
  width: 325px;
  height: 355px;
  object-fit: cover; /*ไม่ให้รูปเบี้ยว*/
  border-radius: 5%;
  border: 2px solid aquamarine; /* เพิ่มเส้นขอบตัดให้ดูเด่น */
}
